<nb-card-header>
  <span class="title">Internações por idade</span>
</nb-card-header>
<nb-card-body>
  <div class="info">
    <div class="period latest">
      <div class="caption">Jul 1 - Jul 31</div>
      <div class="label">
        <span></span>26354
      </div>
    </div>
    <div class="period latest">
      <div class="caption">Jul 1 - Jul 31</div>
      <div class="label">
        <span></span>97164
      </div>
    </div>
    <div class="period latest">
      <div class="caption">Jul 1 - Jul 31</div>
      <div class="label">
        <span></span>57224
      </div>
    </div>
  </div>
  <ngx-stats-ares-chart [points]="chartData"></ngx-stats-ares-chart>
</nb-card-body>
